<div class="card">
  <img
    class="poster"
    [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
    [alt]="movie.title"
  />

  <h3>{{ movie.title }}</h3>

  <p class="rating">⭐ {{ movie.vote_average }}</p>

  <p class="description">
    {{ movie.overview }}
  </p>

  <p class="extra">
  Language: {{ movie.original_language | uppercase }}
</p>

  <div class="actions">
    <button (click)="addFavourite()">❤️ Favourite</button>
    <button (click)="addWatchList()">👁️ WatchList</button>
    <button class="details">More details</button>
  </div>
</div>