<h1>🎬 Movies</h1>

@if (movies().length > 0) {
  <section class="movies">
    @for (movie of movies(); track movie.id) {
      <app-movie-card
        [movie]="movie"
        (favourite)="addToFavourites($event)"
        (watchList)="addToWatchList($event)">
      </app-movie-card>
    }
  </section>
} @else {
  <p>Loading movies...</p>
}

<hr />

<section class="lists">

  @if (favourites().length > 0) {
    <div class="list">
      <h2>⭐ Favourites</h2>
      <ul>
        @for (fav of favourites(); track fav) {
          <li>{{ fav }}</li>
        }
      </ul>
    </div>
  }

  @if (watchList().length > 0) {
    <div class="list">
      <h2>👁️ WatchList</h2>
      <ul>
        @for (watch of watchList(); track watch) {
          <li>{{ watch }}</li>
        }
      </ul>
    </div>
  }

</section>